<header>
    <div class="container">
      <h1>
        <button>Ewha Career Up</button>
      </h1>
     <nav>
      <ul>
        <li>
          <button>Sign-In</button>
        </li>
        <li>
          <button>Sign-Up</button>
        </li>
      </ul>
    </nav>
    </div>
</header>
<div class="mypage_button">
    <ul>
        <li>
            <button>프로필 사진 선택하기</button>
        </li>
        <li>
            <button>학번 | 전공 (공개/비공개)</button>
        </li>
        <li>
            <button>학력 상태: 고졸 | 학사 졸 | 석사 졸 | 박사 졸</button>
        </li>
        <li>
            <button>학점</button>
        </li>
    </ul>
</div>
<button>나의 현재 상태 : 취업 준비 | 대학원 진학 준비 | 고시 준비 | 진로 고민</button>
<input>
<a routerLink="/mypage-modify-component" routerLinkActive="active" 
            ariaCurrentWhenActive="page">내 정보 수정하기</a>
<a routerLink="/spec-more-component" routerLinkActive="active" 
            ariaCurrentWhenActive="page">내 스펙 더보기</a>
<a routerLink="/archive-more-component" routerLinkActive="active" 
            ariaCurrentWhenActive="page">아카이브 더보기</a>
<a routerLink="/action-more-component" routerLinkActive="active" 
            ariaCurrentWhenActive="page">액션 더보기</a>
