<header>
  <div class="container">
    <h1>
      <button>Ewha Career Up</button>
    </h1>
   <nav>
    <ul>
      <li><a routerLink="/sign-in-component" routerLinkActive="active" 
        ariaCurrentWhenActive="page">Sign-In</a>
      </li>
      <li><a routerLink="/ewhain-check-component" routerLinkActive="active" 
        ariaCurrentWhenActive="page">Sign-Up</a>
      </li>
    </ul>
  </nav>
  </div>
</header>
<!--사이드바-->
  <div id="sidebar">
    <div id="side_menu">
      <ul>
        <li><a class="menu" href="#">커뮤니티 게시판</a></li>
        <li><a href="#">스터디 모집 게시판</a></li>
        <li><a href="#">자료 공구 게시판</a></li>
        <li><a href="#">고민 상담 게시판</a></li>
      </ul>
    </div>
  </div>
<!--메인 세션-->
<section>
  <div id="banner"></div>
  <div id="menu_wrap">
    <div class="div_menu">고시</div>
    <div class="div_menu">진학</div>
    <div class="div_menu">취업 및 대외활동</div>
  </div>
</section>
<!--end main-->
