<header>
    <div class="container">
      <h1>
        <button>Ewha Career Up</button>
      </h1>
     <nav>
      <ul>
        <li>
          <button>Sign-In</button>
        </li>
        <li>
          <button>Sign-Up</button>
        </li>
      </ul>
    </nav>
    </div>
</header>
<h2>이화인 인증을 위해 다음 정보를 확인 해주십시오.</h2>
<h4>학생증 정보</h4>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Table #01</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-wrap">
                    <table class="table">
                      <thead class="thead-primary">
                        <tr>
                          <th>#</th>
                          <th>First Name</th>
                          <th>Last Name</th>
                          <th>Email Address</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Mark</td>
                          <td>Otto</td>
                          <td>markotto@email.com</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Jacob</td>
                          <td>Thornton</td>
                          <td>jacobthornton@email.com</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>Larry</td>
                          <td>the Bird</td>
                          <td>larrybird@email.com</td>
                        </tr>
                        <tr>
                          <th scope="row">4</th>
                          <td>John</td>
                          <td>Doe</td>
                          <td>johndoe@email.com</td>
                        </tr>
                        <tr>
                          <th scope="row">5</th>
                          <td>Gary</td>
                          <td>Bird</td>
                          <td>garybird@email.com</td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<h4>재학/졸업증명서 정보</h4>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Table #01</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-wrap">
                    <table class="table">
                      <thead class="thead-primary">
                        <tr>
                          <th>#</th>
                          <th>First Name</th>
                          <th>Last Name</th>
                          <th>Email Address</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Mark</td>
                          <td>Otto</td>
                          <td>markotto@email.com</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Jacob</td>
                          <td>Thornton</td>
                          <td>jacobthornton@email.com</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>Larry</td>
                          <td>the Bird</td>
                          <td>larrybird@email.com</td>
                        </tr>
                        <tr>
                          <th scope="row">4</th>
                          <td>John</td>
                          <td>Doe</td>
                          <td>johndoe@email.com</td>
                        </tr>
                        <tr>
                          <th scope="row">5</th>
                          <td>Gary</td>
                          <td>Bird</td>
                          <td>garybird@email.com</td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<a routerLink="/sign-up-component" routerLinkActive="active" 
          ariaCurrentWhenActive="page">다음 단계</a>