<p>ewhain-check works!</p>
<h2>이화인 인증을 위해 다음 파일을 업로드 해주십시오.</h2>
<h4>!! 모든 글씨가 선명하게 보이는 사진을 제출해주세요. !!</h4>
<h4>재학/졸업 증명서의 경우 발급 일자가 최근 <span>3개월 내의 것</span>이어야 합니다.</h4>
<div class="div_upload">
    <button>학생증 사진 업로드</button>
    <form>
        <input type="text">
    </form>
    <button>업로드</button>
</div>

<div class="div_upload">
    <button>재학/졸업증명서 사진 업로드</button>
    <form>
        <input type="text">
    </form>
    <button>업로드</button>
</div>

<a routerLink="/information-check-component" routerLinkActive="active" 
          ariaCurrentWhenActive="page">다음 단계</a>
